//Base
@use './reset';
@use './containers';
@use './typography';
@use'./mixins';
//Layout
@use '../layout/home';
@use '../layout/productdetail';
@use '../layout/questionanswer';
@use '../layout/ratingreview';
@use '../layout/relatedproducts';

//Components
@use '../components/modal';
@use '../components/stars';

//Product Detail
@use '../components/gallery';
//Question Answer
@use '../components/questions';
//Rating Review

//Related Products
