#root {
  margin: 0 5rem;
}

section {
  margin: 1rem 0 1rem;
}

// section {
//   border: 1px black solid;
// }

.starsvg {
  fill: black;
}

h5,
p {
  margin: 0.75rem 0;
}

.helpfulbtn {
  background: none;
  border: none;
  box-shadow: none;
}
.helpfulbtn:hover {
  background: none;
}
