.ratingreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.reviewitem-header,
.rating-content {
  display: flex;
  justify-content: space-between;
}

.rating-content {
  gap: 0.5rem;
}

.reviewitem-body {
  overflow-wrap: anywhere;
}

.rating-progress-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}
