.ratingreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewitem-header,
.rating-content {
  display: flex;
  justify-content: space-between;
}

.rating-content {
  gap: 0.5rem;
}

.reviewitem-body {
  overflow-wrap: anywhere;
}
.rating-right {
  width: 100%;
}

.rating-progress-bar,
.rating-bar-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}

.rating-filterdropdown {
  background: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 0.1rem solid black;
}

.chevron-down {
  height: 1rem;
  width: 1rem;
  border-bottom: 0.1rem solid black;
  align-items: baseline;
}

.rating-sort {
  display: flex;
  align-content: baseline;
}
