.ratingreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewitem-header,
.rating-content {
  display: flex;
  justify-content: space-between;
}

.rating-content {
  gap: 0.5rem;
}

.reviewitem-body {
  overflow-wrap: anywhere;
}
.rating-right {
  width: 100%;
}

.review-item {
  padding: 0.5rem 0;
  border-bottom: 1px grey solid;
}

.rating-progress-bar,
.rating-bar-label {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  box-shadow: 0 0.05rem 0.07rem grey inset;
}

.rating-filterdropdown {
  background: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 0.1rem solid black;
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: larger;
}

.chevron-down {
  height: 1rem;
  width: 1rem;
  border-bottom: 0.1rem solid black;
  align-items: baseline;
}

.rating-sort {
  display: flex;
  align-items: center;
}
.rating-inner-search {
  display: flex;
  justify-content: center;
  align-items: end;
}
.rating-inner-search,
.rating-filterdropdown,
.chevron-down {
  cursor: pointer;
}

.rating-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background: lightgray;
  box-shadow: 0 0.05rem 0.07rem grey inset;
}
